azure-ai-agents
azure-ai-projects
azure-appconfiguration
azure-batch
azure-cli
azure-cli-core
azure-cli-telemetry
azure-common
azure-core
dotenv
ms-fabric-cli
msal
numpy
oauthlib
openai
pdfplumber
pillow
pydantic_core
pydeck
python-dotenv
requests
streamlit
tqdm

